.main {
    background: #282D35;
    height: 90vh;
    padding-left: 100px;
    color: white;
    background-image: url(../Group.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 300px;
}

h2 {
    margin-top: 0px;
    padding-top: 40px;
    margin-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
    color: #FFFF;
}

ul {
    margin-top: 100px;
    font-size: 20px;
    list-style: none;

}

li::before {content: "•"; color:rgba(97, 218, 251, 1);
    display: inline-block; width: 1em;
    margin-left: -1em}

li {
    margin-top: 30px;
    margin-left: 40px;
}


