.navbar {
    display: flex;
    width: 100vw;
    background-color: #21222A;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.navbar > div > img {
    width: 60px;
}

.left-nav {
    font-size: larger;
    align-items: center;
    display: flex;
    width: 300px;
    justify-content: space-around;
    color: #61DAFB;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.05em;
}

.right-nav {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #DEEBF8;
}